#login {
    position: absolute;

    left: 110px;
    top: 200px;
    z-index: 100;
}

#name {
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
    color: #737373;
    border-radius: 5px;
}

.button {
    background-color: #737373;
    border-radius: 10px;
}
